In [32]:
import pandas as pd 
import numpy as np

In [35]:
csv_path = "HeroesOfPymoli/purchase_data.csv"
heroes_df = pd.read_csv(csv_path)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [39]:
# total number of players 
player_total = heroes_df["SN"].value_counts()
print(player_total)

Lisosia93         5
Idastidru52       4
Iral74            4
Lassilsala30      3
Siallylis44       3
Raesty92          3
Chamjask73        3
Tyisur83          3
Zontibe81         3
Phaena87          3
Strithenu87       3
Silaera56         3
Hiaral50          3
Lisim78           3
Chanastnya43      3
Saistyphos30      3
Asur53            3
Rarallo90         3
Yathecal82        3
Aelin32           3
Chadolyla44       3
Sondastsda82      3
Iri67             3
Phyali88          3
Inguron55         3
Pheodaisun84      3
Ialallo29         3
Umolrian85        3
Aina42            3
Chamimla85        3
                 ..
Aesur96           1
Jiskimsda56       1
Aidai73           1
Ilimya66          1
Quilassa66        1
Sally64           1
Seuthep89         1
Syalollorap93     1
Meosridil82       1
Sondilsaya62      1
Marjask87         1
Lisico81          1
Chanosiaya39      1
Chanossast57      1
Ennalmol65        1
Haisurra41        1
Assjaskan56       1
Assassa81         1
Aelaria33         1
Eodairu79         1
Aeral68           1
Irithlis29        1
Iskim96           1
Hiral75           1
Eoralrap26        1
Rastynusuir31     1
Aerithnuphos61    1
Firon67           1
Yarithllodeu72    1
Lisirra87         1
Name: SN, Length: 576, dtype: int64

In [84]:
# count all the rows 
heroes_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

# average prices
heroes_df["Price"].mean()

In [96]:
item_total = heroes_df["Item ID"].nunique()
print(item_total)

183

In [97]:
total_revenue = heroes_df["Price"].sum()
print(total_revenue)

2379.77

In [98]:
total_items_purchased = heroes_df["Item Name"].count()
print(total_items_purchased)

780

In [99]:
summary_df = pd.DataFrame({"Average Price": [average_price], "Total Items Count" : [item_total], 
                           "Total Revenue": [total_revenue],"Total Items Purchased": [total_items_purchased]
                           })

summary_df

   Average Price  Total Items Count  Total Revenue  Total Items Purchased
0       3.050987                183        2379.77                    780

In [102]:
genders = heroes_df["Gender"].value_counts()
print(genders)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [ ]:
pct =